In [ ]:
import pandas as pd
#cargamos aqui los datos
df = pd.read_csv("ventas_tienda.csv")

print(df.head())
print(df.info())
print(df.describe())


#seleccionamos y filtramos las filas (la primera y las primeras 5)
df.iloc[0]
df.iloc[0:5]

df[df["precio"] > 100]
df[(df["categoria"] == "Ropa") & (df["stock"] < 50)]
df.sort_values("precio", ascending=False)

#Tranformación y limpieza de columnas 
df = df.rename(columns={"nombre_producto": "producto"})

df["precio_con_iva"] = df["precio"] * 1.16

df = df.drop(columns=["columna_inutil"])

df["categoria"] = df["categoria"].replace({"ropa":"Ropa"})

In [3]:
import os
os.getcwd()

'/home/jmy36/Documentos/BeDataScience'

In [2]:
!ls

 00_Roadmap   Semana1_Dia1.ipynb   untitled.py
 low.py       semana1_dia2.ipynb  'ventas_tienda .csv'

In [21]:
import pandas as pd

df = pd.read_csv("ventas_tienda.csv")

print(df.head())
print("\nLa info del df")
print(df.info())

print(df.describe())
print(df.shape)

print("\nProductos con precio > 100")
display(df[df["precio"] > 100])
df.shape
print("\nProductos con stock menor que diez")
display(df[df["stock"] < 10])


df["precio_descuento"] = df["precio"] * 0.90
df["precio_con_iva"] = df["precio"] *1.16


df_ordenado = df.sort_values(["categoria", "precio"], ascending=[True, False])
display(df_ordenado)

   id            nombre  precio  stock   categoria
0   1     Camisa básica     150     20        Ropa
1   2    Pantalón jeans     350     15        Ropa
2   3  Tenis deportivos     899      8     Calzado
3   4   Sandalias playa     199     30     Calzado
4   5     Reloj digital     499      5  Accesorios

La info del df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10 non-null     int64
 1   nombre     10 non-null     object
 2   precio     10 non-null     int64
 3   stock      10 non-null     int64
 4   categoria  10 non-null     object
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes
None
             id      precio      stock
count  10.00000   10.000000  10.000000
mean    5.50000  344.600000  18.800000
std     3.02765  265.123116  13.554827
min     1.00000   60.000000   5.000000
25%     3.25000  162.250000   9.000000
50%     5.50000  259.500000  15.500000
75%     7.75000  461.750000  23.750000
max    10.00000  899.000000  50.000000
(10, 5)

Productos con precio > 100

   id            nombre  precio  stock   categoria
0   1     Camisa básica     150     20        Ropa
1   2    Pantalón jeans     350     15        Ropa
2   3  Tenis deportivos     899      8     Calzado
3   4   Sandalias playa     199     30     Calzado
4   5     Reloj digital     499      5  Accesorios
5   6     Lentes de sol     299     12  Accesorios
6   7   Suéter invierno     650      7        Ropa
7   8      Blusa casual     220     16        Ropa
8   9       Gorra negra     120     25  Accesorios

Productos con stock menor que diez

   id            nombre  precio  stock   categoria
2   3  Tenis deportivos     899      8     Calzado
4   5     Reloj digital     499      5  Accesorios
6   7   Suéter invierno     650      7        Ropa

,id,nombre,precio,stock,categoria,precio_descuento,precio_con_iva
4,5,Reloj digital,499,5,Accesorios,449.1,578.84
5,6,Lentes de sol,299,12,Accesorios,269.1,346.84
8,9,Gorra negra,120,25,Accesorios,108.0,139.20
2,3,Tenis deportivos,899,8,Calzado,809.1,1042.84
3,4,Sandalias playa,199,30,Calzado,179.1,230.84
9,10,Calcetas deportivas,60,50,Calzado,54.0,69.60
6,7,Suéter invierno,650,7,Ropa,585.0,754.00
1,2,Pantalón jeans,350,15,Ropa,315.0,406.00
7,8,Blusa casual,220,16,Ropa,198.0,255.20
0,1,Camisa básica,150,20,Ropa,135.0,174.00

In [20]:
import pandas as pd

df = pd.read_csv("ventas_tienda.csv")
#sirve para leer columnas y filas (lo del primer parentesis son las filas y despues las columnas) 
print(df.shape)
#(filas, columnas)

(10, 5)